<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="hours < 12">Good Morining</p>
        <p v-if="hours >= 12 && hours <= 18">Good Afternoon</p>
        <p v-if="hours > 18">Good Evening</p>
    </div>
    <script>
//Note that v-if is a directive enclosed in a template
//it is able to access the variables stored in the vue object
//and even more even evaluate expressions in the html
    new Vue({
        el: '#app',
        data:{
            hours: new Date().getHours()

        }
    });


    </script>
</body>
</html>